.addnewtour form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    
}

.addnewtour form input, textarea{
    width: 60%;
    padding:10px;
    margin-bottom: 10px;
}