.orderpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
}
    

.order-form{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-form form input, textarea{

    margin-top: 20px;
    padding: 20,30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 60%;
}

.error{
    display: inline-block;
    color: red;
}
